*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
    align-items: center;
    font-family: sans-serif;
  }
@font-face {
    font-family: 'ananda';
    src: url(Ananda_Black_Personal_Use.ttf);

}
@font-face {
    font-family: 'lexend';
    src: url(Lexend-VariableFont_wght.ttf);

}
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: end;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.perfect_center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.navbar{
    top: 0;
    position: fixed;
    font-size: 30px;
    width: 100%;
    height: 60px;
    background-color: #FFFDFE;
    overflow: hidden;
    z-index: 100;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFDFE;
    z-index: 100;
}

.navbar a{
    padding-top: 10px;
    height: 100%;
    width: 130px;
    text-decoration: none;
    text-align: center;
    color: black;
}
.navbar a:hover{
    background-color: #CA006D;
    color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .navbar {
    padding-top: 60px;
  }

.Home{
    font-family: sans-serif;
    margin-top: 30px;
    height: 100vh;
    width: 100%;
    background-image: url(smtown.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 40px;
    font-family: 'ananda';
    background-position: 0px -120px;
    background-color: #E3D4DB;
}

.Home h1{
    text-align: end;
    margin-top: 130px;
    margin-right: 100px;

}
.Home .btn_home{
    margin-top: 10px;
    margin-right: 100px;
    height: 70px;
    width: 400px;
    color: white;
    background-color: #CA006D;
    font-size: 25px;
    border-radius: 7.5px;
    transition: background-color 0.8s ease-in-out;
}
.Home .btn_home:hover{
    margin-top: 10px;
    margin-right: 100px;
    height: 70px;
    width: 400px;
    color: black;
    background-color: white;
    font-size: 25px;
    border-radius: 7.5px;

}

.profile{
    padding-top: 50px;
    font-family: 'lexend';
    height: 100vh;
    width: 100%;
    color: white;
    background-position: 0px -120px;
    background-color: #E3D4DB;
}

.profile .profile1 {
    height: 100%;
    width: 100%;
}
.profile .profile1 .profile1_1{
    padding-top: 20px;
    text-align: center;
    margin: 40px 60px;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    border: 8px solid rgba(202, 0, 109, 0.8);
    transition: transform .5s;
}

.profile .profile1 .profile1_1:hover{
    transform: scale(1.03);
}
.profile .profile1 .profile1_1 h2 {
    color: rgba(210, 66, 143, 0.5);
    font-size: 55px;
}
.profile .profile1 .profile1_1 h1 {
    color: white;
    font-size: 65px;
}
.profile .profile1 .profile1_1 img {
    width: 70px;
    color: white;
    font-size: 80px;
}
.profile .profile1 .profile1_1 p{

    color: white;
    font-size: 50px;
    font-weight: bold;
}
.profile .profile1 .profile1_1 .img_instagram {
    position: relative;
    bottom: 20px;

    width: 90px;
    color: white;
    font-size: 80px;
}
.profile .profile1 .profile1_1 .p_instagram{
    position: relative;
    bottom: 40px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.hobby{
    padding-top: 50px;
    font-family: 'lexend';
    height: 100vh;
    width: 100%;
    color: white;
    background-position: 0px -120px;
    background-color: #E3D4DB;
}
.hobby .hobby_content{
    margin-top: 100px;
    margin-left: 100px;
}

.hobby .hobby_content h1{
    font-family: 'lexend';
    font-size: 60px;
}

.hobby .hobby_content p{
    font-family: 'lexend';
    font-size: 30px;
}

.hobby .hobby_image img{
    height: 230px;
    width: 700px;
}

.movie{
    padding-top: 50px;
    font-family: 'lexend';
    height: 100vh;
    width: 100%;
    color: white;
    background-position: 0px -120px;
    background-color: #E3D4DB;
}
.movie h1{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
.movie_image{
    margin-top: 50px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.movie_image img{
    margin: 0px 20px;
    display: inline-block;
    width: 300px;
    width: 300px;
    height: 400px;
    transition: transform .5s;
}
.movie_image img:hover{
    transform: scale(1.06);

}

.movie_image::-webkit-scrollbar {
    width: 0.5em;
}

.movie_image::-webkit-scrollbar-track {
    background: transparent;
}

.movie_image::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.contact{
    padding-top: 50px;
    font-family: 'lexend';
    height: 100vh;
    width: 100%;
    color: white;
    background-position: 0px -120px;
    background-color: #E3D4DB;
}

.contact .form_contact{
    margin-right: 200px;
}
.contact .form_contact h1{
    text-align: center;
    font-size: 50px;
}
.contact .form_contact input{
    padding-left: 20px;
    margin: 10px 0px;
    width: 600px;
    border-radius: 20px;
    border: none;
    height: 30px;
}
.contact .form_contact .message{
    margin: 10px 0px;
    width: 600px;
    border-radius: 20px;
    border: none;
    height: 100px;
    background-color: white;
    background-color: white;

}
.contact .form_contact .message .message_input{
    font-family: 'lexend';
    padding: 5px 15px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: white;
    outline: none;
    resize: none;

}

.contact .form_contact button{
    margin-top: 20px;
    font-family: 'lexend';
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: none;
    background-color: #CA006D;
    color: white;
    transition: background-color 0.8s ease-in-out;
}

.contact .form_contact button:hover{

    background-color: white;
    color: black;
}



.contact .social_media a .social_media_1{
    margin: 20px 0px;
}
.contact .social_media a .social_media_1 img{
    width: 90px;
}
.contact .social_media a .social_media_1 .social_media_content h1{
    padding-top: 12px;
    font-size: 30px;
    color: black;
}
.contact .social_media a .social_media_1 .social_media_content p{
    font-size: 20px;
    color: #524C4C;
    opacity: 0.8;
}
.contact .social_media a .social_media_1 .email{
    margin-right: 15px;
    margin-left: 14px;
    margin-top: 15px ;
    width: 60px;
    height: 60px;
}

.contact .social_media a{
    text-decoration: none;
}

